<?xml version="1.0" encoding="" ?>
<html xmlns:th = "http://www.thymeleaf.org" lang="EN">

<header>
    <h2> Welcome to the pokémon fetcher </h2>
</header>

<body>
    <p>
        <strong>Name:</strong>
        <span th:text="${pokemon.name}"></span>
    </p>
    <p>
        <strong>ID:</strong>
        <span th:text="${pokemon.id}"></span>
    </p>
    <p>
        <strong>Height:</strong>
        <span th:text="${pokemon.height}"></span>
        <span> centimeters</span>
    </p>
    <p>
        <strong>Weight:</strong>
        <span th:text="${pokemon.weight()}"></span>
        <span> hectograms</span>
    </p>
    <form action="fetcher" method="get">
        <input type="submit" value="back to the fetcher">
    </form>
</body>

</html>